{% extends 'base.html.twig' %}

{% block title %}Student Management HomePage{% endblock %}

{% block body %}
<h1 class="display-1 text text-danger text-center">Student Management System</h1>
<img src="https://skytechkey.com/wp-content/uploads/2021/04/quan-ly-hoc-vien-1.jpg" alt="Responsive image" class="img-fluid mx-auto d-block mt-5" width="80%" >
{% endblock %}